<div class="search-panel">
  <div class="search-input" [ngClass]="{
    'no-results-padding': !response,
    'results-padding': response,
  }">
    <div class="label-container">
      <label>What do you need an excuse for?</label>
    </div>
    <div>
      <mat-icon class="search-icon">search</mat-icon>
      <input
        [formControl]="searchControl"
        placeholder="Missing work today!"
        (keydown.enter)="performCGPTSearch($event)"
        autofocus
      >
    </div>
  </div>
</div>

<div *ngIf="chatGPTService.apiCallInProgress" class="loader-container">
  <div class="loader"></div>
</div>

<div *ngIf="response && !chatGPTService.apiCallInProgress" class="response-container">
  <div id="main">
    <div class="left-right-navigation-container">
      <button
        *ngIf="responseCache.length > 1 && responseCacheIndex !== 0"
        mat-mini-fab color="warn"
        aria-label="Example icon button with a filter list icon"
        (click)="navigateResponses('PREV')"
        (keydown.enter)="navigateResponses('PREV')"
      >
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div class="response">
      <div>
        {{ response }}
      </div>
    </div>
    <div class="left-right-navigation-container">
      <button
        #nextButton
        mat-mini-fab color="warn"
        aria-label="Example icon button with a filter list icon"
        (click)="navigateResponses('NEXT')"
        (keydown.enter)="navigateResponses('NEXT')"
      >
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
